body {
  background: #eeeeee;
}

.search-results {
 	margin: 10px 0;
}

.search-results img{
 	height: 150px;
}

.search-results li span{
 	text-decoration: underline;
	color: blue;
}

#wiki-content {
	width: 80%;
	height: 250px;
}