.card .card-content {
    width:100%;
}

.card.horizontal .card-image {
    overflow: visible;
}

.card.horizontal .card-image img.Book-front-image {
    height: 250px;
    width: auto;
    max-width: none;
}
.card-action.Book-card-action {
    position: relative;
    height: 50px;
    bottom: 5px;
    color: #ffab40;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}