.App-about {
  height: 30vmin;
  pointer-events: none;
  margin: auto;
}

.error {
  background-color:rgba(255, 200, 200, 0.9);
  border: 1px solid rgba(255, 120, 120, 0.9);;
  color:red;
  font-weight: 600;
}

.success {
  background-color:rgba(200, 255, 200, 0.9);
  border: 1px solid rgba(120, 255, 120, 0.9);;
  color:green;
  font-weight: 600;
}