.card {
    height:520px;
}

.card .card-content {
    width:100%;
}

.card .card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}

.card.horizontal .card-image {
    overflow: visible;
}

.card .card-image img.Post-front-image {
    max-height: 350px;
    height: auto;
    width: 100%;
    max-width: none;
}
.card-action.Post-card-action {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 10px;
    color: #ffab40;
    margin-right: 24px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
}

.action-button {
    margin: 10px 20px;
    font-size: 1.1em;
}
