/* Todos fading on enter/leave */
.todos-enter {
  height: 0;
  opacity: 0.01;
  overflow: hidden;
}

.todos-enter.todos-enter-active {
  height: auto;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.todos-leave {
  opacity: 1;
}

.todos-leave.todos-leave-active {
  opacity: 0.01;
  transition: all 0.5s ease-in;
}