.input-field input[type=search] ~ .material-icons.Nav-button {
    display: inline-block;
    color: white;
}

nav .input-field {
    vertical-align: middle;
}

.nav-wrapper .input-field input[type=search].Nav-search-input {
    display: inline-block;
    padding-left: 0;
    background-color: rgb(240, 245, 255);
}
