.messages-enter {
  opacity: 0.01;
}

.messages-enter.messages-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.messages-leave {
  opacity: 1;
}

.messages-leave.messages-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}